<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Goldz</title>
</head>
<body>
    <div id="wrapper" class="wrapper">
        <div id="head" class ="head">
            <h1>Your Gold</h1>
            <div id="gold_reserve" class="gold_reserve"></div>
        </div>
        <div id="middle" class="middle"> 
            <div id="farm" class="farm"></div>
            <div id="cave" class="cave"></div>
            <div id="house" class="house"></div>
            <div id="casino" class="casino"></div>

        </div>












    </div>
</body>
</html>